@import 'colors';
@import 'layout';
@import 'buttons';

:local(.all_beers) {
    box-sizing: border-box;
    color: $black;
    margin-bottom: 2%;
    .beer-listing{
        @include listing();
        cursor: pointer;
    }
    h3 {
        @include content-heading();
    }

    @media (min-width: 768px)
    {
        .beer-listing {
            width: 50%;
        }
    }
}
