<section ng-class="$ctrl.styles.manageusers">
    <h2>Select a User to See Their Profile</h2>
    <table>
        <thead>
            <tr>
                <td>User</td>
                <td>Admin</td>
                <td>Brewer</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $ctrl.users"
                ui-sref="admin.editUsers({
                    id: user._id
                })">
                <td>{{user.username}}</td>
                <td>{{user.admin}}</td>
                <td>{{user.brewer}}</td>
            </tr>
        </tbody>
    </table>
</section>
