@import 'colors';
@import 'header';
@import 'footer';
@import 'buttons';

:local(.beers) {
    box-sizing: border-box;
    margin:  120px 0 0;   
    h2 {
        text-align: center;
        font-size: 3.0rem; 
    }    
    header {
        @include header();
    }
    .content {
        position: absolute;
        width: 100%;
        top: 78px;
        bottom: 42px;
        overflow: auto;
        .add-beer-btn {
            button {
                position: fixed;
                bottom: 75px;
                right: 35px;
                @include button();
            }
        }
    }
    footer {
        @include footer();
    } 
}
