@import 'colors';

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    background-color: $app-background;
    color: black;
    margin: 0;
    padding: 0;
}
