@import 'colors';

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    background-color: $app-background;
    color: black;
    margin: 0;
    padding: 0;
}

.capitalize {
    text-transform: capitalize;
}

@media (max-width: 350px) {
    .ngdialog.ngdialog-theme-default.custom-width-250 .ngdialog-content {
        width: 250px;
    }
}

@media (max-width: 480px) and (min-width: 350px) {
    .ngdialog.ngdialog-theme-default.custom-width-350 .ngdialog-content {
        width: 350px;
    }
}


