<section ng-class="$ctrl.styles.reviews">
    <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="$ctrl.backToBeers()"></i>
    <div class="review-heading" ng-if="$ctrl.beer.reviews.length > 0">
        <h3>{{$ctrl.beer.brewery}} {{$ctrl.beer.name}}</h3>
        <span>has the following reviews:</span>
    </div>
    <div class="review-heading" ng-if="$ctrl.beer.reviews.length === 0">
        <h3>{{$ctrl.beer.brewery}} {{$ctrl.beer.name}}</h3>
        <span>does not yet have any reviews.</span>
    </div>
    <div class="review-listing" ng-repeat="review in $ctrl.beer.reviews track by $index">
        <div ng-if="review.comments.length > 0" class="comment-line">
            "{{review.comments}}" -{{review.reviewer}}
        </div>
        <div ng-if="!review.comments" class="comment-line">
                "No comment." -{{review.reviewer}}
        </div>
        <div class="drink-again-line capitalize">
            Drink Again?: {{review.drinkAgain}}
        </div>
    </div>
    <button ng-click="$ctrl.backToBeers()">Back to Beers</button>
</section>
