@import 'colors';
@import 'layout';
@import 'buttons';

:local(.reviews) {
    text-align: center;
    i {
        @include close-x();          
    }
    .review-heading {
        margin: 0 0 5%;
        h3 {
            @include content-heading();
        }
        span {
            color: $black;           
            font-size: 1.4rem;
        }

    }
    .review-listing {
        @include listing();
    }
    button {
        @include button();
        margin: 0 2%;
        background-color: $content-text;

    }

    @media (min-width: 768px) {
        .review-listing {
            width: 50%;
        }
    }

}
