<section ng-class="$ctrl.styles.reviews">
    <div>
        <h2>{{$ctrl.beer.name}} has the following reviews.</h2>
        <table>
            <thead>
                <tr>
                    <td>Drink Again?</td>
                    <td>Comments</td>
                    <td>Reviewer</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="review in $ctrl.beer.reviews">
                    <td>{{review.drinkAgain}}</td>
                    <td>{{review.comments}}</td>
                    <td>{{review.reviewer}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="$ctrl.goToAddReview()">Add a Review</button>
    <button ng-click="$ctrl.backToBeers()">Back to Beers</button>
</section>
