<section ng-class="$ctrl.styles.admin">
    <header>
        <div class="app-name">
            <h1 ui-sref="about">
                <span>HopHub</span>
            </h1>
        </div>
    </header>
    <div class="sub-heading">
        <h2>Admin<h2>
        <button ng-click="$ctrl.manageUsers(beer._id)">Manage Users</button>
        <button ng-click="$ctrl.manageBeers(beer._id)">Manage Beers</button>
        <button ng-click="$ctrl.manageReviews(beer._id)">Manage Reviews</button>
    </div>
    <section class="content">
        <ui-view></ui-view>
    </section>
    <footer>
        <nav class="tabs">
            <div class="nav-link" ng-if="$ctrl.isAdmin()" ui-sref="admin">
                <i class="fa fa-cog"></i>
                <li><span>ADMIN PAGE</span></li>
            </div>
            <div class="nav-link" ng-if="$ctrl.isAuthenticated()" ui-sref="profile">
                <i class="fa fa-thumbs-up"></i>
                <li><span>MY REVIEWS</span></li>
            </div>
            <div class="nav-link" ng-if="$ctrl.isAuthenticated()" ui-sref="beers">
                <i class="fa fa-beer"></i> 
                <li><span>BEERS</span></li>
            </div>
            <div class="nav-link" ng-if="$ctrl.isAuthenticated()" ui-sref="about" ng-click="$ctrl.logout()">
                <i class="fa fa-sign-out"></i>  
                <li><span>LOG OUT</span></li>
            </div>
            <div class="nav-link" ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login()">
                <i class="fa fa-sign-in"></i>
                <li><span>LOG IN</span></li>
            </div>                
        </nav>
    </footer>
</section>
