<section ng-class="$ctrl.styles.app">
    <div>
        <div id="hero">
            <div id="hero-text">
                Click on the Get Started button below to see some beers. df fsd sdf sdf sdf sdf fsd sdf fds lkj lkj dsjkl sadjksla lakjs djskadjskallksk  jk jk
                 j kjs k jsdkjsald j jis jioksk  dsi w jsaok  dsjko sd jsaj  oj  j ojdsoj 
                  jsakdjosj djio 
            </div>
            <img src="/img/beer-mug.jpg" alt="Nathan Profile Picture">
        </div>   
        <button ui-sref="beers">Get Started!</button>
    </div>
</section>
