@mixin button() {
    padding: 7px 0 9px 0;
    text-align: center;
    background-color: $button;
    width: 110px;
    border: none;
    outline: none;
    border-radius: 5px 15px 15px 5px;
    span {
        font-size: 1.4rem;
        font-weight: bold;
        // vertical-align: text-top;
        padding: 0 0 0 10px;
    }
}
