@mixin button() {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    background-color: $button;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 15px;
}
