// #44af69 medium sea green
// #f8333c deep carmine pink  #f8454d sunburnt cyclops
// #fcab10 dark tangerine
// #2b9eb3 light sea green    #78c1ce dark sky blue
// #dbd5b5 timberwolf


$logo: #8c2833;
$item: #247ba0;
$nav: #247ba0;
$text: #247ba0;
$content: #f8333c;
$background: #dbd5b5;
$header: #78c1ce;
$button: #f4d06f;
$black: #090909;
$white: #fafafa;
$grey: #d3d3d3;
