// #44af69 medium sea green
// #f8333c deep carmine pink  #f8454d sunburnt cyclops
// #fcab10 dark tangerine
// #2b9eb3 light sea green    #78c1ce dark sky blue
// #dbd5b5 timberwolf

// #008e97 aqua
// #f58220 orange
// #f79b4d light orange
// #005778 blue
// #2028f5 dark blue
// #f52028 red
// #fa8f93 light red
// #f5ec20 yellow
// #fcf9b6 faded yellow
// #20f582 green
// #8220f5 purple
// #78c1ce sky blue


$logo: #20f582;
$item: #005778;
$nav: #008e97;
$text: #f58220;
$content: #f52028;
$background: #f79b4d;
$header: #78c1ce;
$footer: #005778;
$footer-text: #fcf9b6;
$button: #fcf9b6;
$green: #20f582;
$red: #f52028;
$light-red: #fa8f93;
$black: #090909;
$white: #fafafa;
$grey: #d3d3d3;
