@mixin desktop-header() {
    background-color: $header;
    position: fixed;
    width: 100%;
    height: 78px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;

    div {
        width: 50%;
        float: left;
        padding: 25px 0;
        h1 {
            padding-left: 4%;
            margin: 0;
            font-size: 2.4rem;
        }           
    }
    nav {
        text-align: right;
        width: 50%;
        float: right;
        list-style: none;
        line-height: 2.8rem;
        font-size: 1.6rem;
        padding: 25px 0;
        li {
            margin-right: 4%;
            display: inline-block;
        }
    }
}

@mixin header() {
    background-color: $header;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    .app-name {
        padding: 8px 0 0 0;
        h1 {
            padding-left: 4%;
            margin: 0;
            font-size: 2.4rem;
        }           
    }
}

@mixin desktop-footer() {
    box-sizing: border-box;
    padding: 12px 0;
    text-align: center;
    color: $footer-text;
    background: $footer;
    font-size: 1.6rem;
    position: fixed;
    width: 100%;
    height: 42px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

@mixin footer() {
    box-sizing: border-box;    
    text-align: center;
    padding: 10px 0 0;
    color: $white;
    background: $footer;
    font-size: 1.6rem;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;

    .tabs {           
        list-style: none;            
        font-size: 1.6rem;            
        display: flex;
        flex-direction: row;
        .nav-link {
            flex: 1;
            text-align: center;
            li {
                padding: 5px 0 0;
                font-size: 1.0rem;
            }            
            i {
                font-size: 2.0rem;
                display: block;
            }
        }
    }
}

@mixin content-area() {
    position: absolute;
    width: 100%;
    top: 115px;
    bottom: 50px;
    overflow: auto; 
    color: $white;      
    background-color: $grey;
    background-size: 100%;
}

@mixin sub-heading() {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 40px;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    h2 {
        text-align: center;
        margin: 0;
        font-size: 2.8rem;
    }
}

@mixin content-heading() {
    margin: 10px auto 0;    
    font-size: 1.6rem;
    text-align: center;
    color: $black;
    width: 75%;
    @include truncate-text();
}

@mixin content-sub-heading() {
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
    color: $black;
    width: 75%;
    @include truncate-text();
}

@mixin truncate-text() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin listing() {
    text-align: center;
    color: $content-text;
    width: 80%;
    margin: 3% auto;
    border-bottom: 1px solid $content-text;
    .title-line {
        font-size: 1.8rem;
        padding: 0 0 1% 0;
        @include truncate-text();
    }
    .comment {
        font-size: 1.8rem;
        padding: 0 0 1% 0;
    }
    .detail-line {
        font-size: 1.4rem;
        padding: 0 0 1% 0;
        @include truncate-text();
    }
}

@mixin close-x() {
    position: absolute;
    color: $content-text;
    top: 3%;
    right: 5%;            
}

@mixin entry-form() {
    width: 80%;
    margin: 4% auto;
    padding: 7% 0 10%;
    text-align: center;
    color: $content-text;
    background-color: $form-background;
    border-radius: 15px;
    position: relative;
    i {
        @include close-x();           
    }
    h4 {
        font-size: 1.4rem;
    }
    .entry-fields {
        label {
            display: block;
            font-size: 1.4rem;
            margin: 0 0 1% 0;
        }
        .message {
            margin: 0 0 0 0;
            padding: 0;
            color: $aqua;
            min-height: 12px;
        }
        .radio-select {
            margin-bottom: 5%;
        }
        input[type='text'], input[type='number'] {
            font-size: 1.8rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-radius: 15px;
            text-align: center;
        }
        input[type='text']:focus, input[type='number']:focus {
            border-radius: 15px;               
            outline: none;
            box-shadow: inset 0 0 5px 1px $footer;
        }
        textarea {
            resize: none;
            width: 60%;
            margin-bottom: 5%;
        }
    }
    button {
        @include button();
        background-color: $content-text;
    }

}
