@mixin desktop-header() {
    background-color: $header;
    position: fixed;
    width: 100%;
    height: 78px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;

    div {
        width: 50%;
        float: left;
        padding: 25px 0;
        h1 {
            padding-left: 4%;
            margin: 0;
            font-size: 2.4rem;
        }           
    }
    nav {
        text-align: right;
        width: 50%;
        float: right;
        list-style: none;
        line-height: 2.8rem;
        font-size: 1.6rem;
        padding: 25px 0;
        li {
            margin-right: 4%;
            display: inline-block;
        }
    }
}

@mixin header() {
    background-color: $header;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    .app-name {
        padding: 8px 0 0 0;
        h1 {
            padding-left: 4%;
            margin: 0;
            font-size: 2.4rem;
        }           
    }
}
@mixin desktop-footer() {
    box-sizing: border-box;
    padding: 12px 0;
    text-align: center;
    color: $footer-text;
    background: $footer;
    font-size: 1.6rem;
    position: fixed;
    width: 100%;
    height: 42px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

@mixin footer() {
    box-sizing: border-box;    
    text-align: center;
    padding: 10px 0 0;
    color: $white;
    background: $footer;
    font-size: 1.6rem;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;

    .tabs {           
        list-style: none;            
        font-size: 1.6rem;            
        display: flex;
        flex-direction: row;
        .nav-link {
            flex: 1;
            text-align: center;
            li {
                padding: 5px 0 0;
                font-size: 1.0rem;
            }            
            i {
                font-size: 2.0rem;
                display: block;
            }
        }
    }
}
@mixin content-area() {
    position: absolute;
    width: 100%;
    top: 115px;
    bottom: 50px;
    overflow: auto; 
    color: $white;      
    background-color: $grey;
    background-size: 100%;
}
@mixin sub-heading() {
    position: fixed;
    width: 100%;
    height: 75px;
    top: 40px;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    h2 {
        text-align: center;
        margin: 0;
        font-size: 2.8rem;
    }
}

@mixin content-heading() {
    margin: 10px 0 0 0;
    font-size: 1.6rem;
    text-align: center;
    color: $black;
}
