<section ng-class="$ctrl.styles.add_review">
    <h3>Add a Review for {{$ctrl.beer.name}}</h3>
    <form class="add-review">
        <i class="fa fa-times fa-2x" aria-hidden="true" ng-click="$ctrl.backToBeer()"></i>
        <h4>
            Enter Your Review
        </h4>
        <div class="entry-fields">
            <label for="drink-again">Would You Drink This Beer Again?</label>
            <div id="drink-again" class="radio-select">
                <span ng-repeat="drinkAgain in ['no', 'occasionally', 'yes']">
                    <input 
                        ng-model="$ctrl.drinkAgain" 
                        name="drinkAgain" 
                        ng-value="drinkAgain" 
                        type="radio"> 
                    {{drinkAgain}}
                </span>
            </div>
            <label for="comments">Comments (280 characters)</label>
            <textarea id="comments" ng-model="$ctrl.comments" maxlength="280"></textarea>
        </div>
        <button ng-click="$ctrl.addReview()">Add</button>      
    </form>
</section>
