<section ng-class="$ctrl.styles.addreview">
    <h2>Use the Form Below to Add a Review for {{$ctrl.beer.name}}</h2>
    <div class="add-review">
        <div>
            <h3>Add a Review</h3>
            <label>Would You Drink This Beer Again?</label>
            <span ng-repeat="drinkAgain in ['no', 'occasionally', 'yes']">
            <input 
                ng-model="$ctrl.drinkAgain" 
                name="drinkAgain" 
                ng-value="drinkAgain" 
                type="radio"> 
                {{drinkAgain}}
            </span>
        </div>
        <div>
            <label>Comments</label>
            <input ng-model="$ctrl.comments">
        </div>
        <button ng-click="$ctrl.addReview()">Add</button>
        <button ng-click="$ctrl.backToBeer()">Cancel</button>        
    </div>
</section>
