@import 'colors';
@import 'layout';
@import 'buttons';

:local(.add_review) {
    color: $content-text;
    h3 {
        @include content-heading();
    }
    .add-review {
        @include entry-form();
    }

    @media (min-width: 768px)
    {
        .add-review {
            width: 60%;
            padding: 3% 0;
        }
        .entry-fields {
            textarea {
                height: 50px;
                font-size: 1.4rem;
            }
        }
    }
}
