<section ng-class="$ctrl.styles.addbeers">
    <h2>Use the Form Below to Add a Beer</h2>
    <div class="add-beer">
        <div>
            <h3>Enter the Beer's Information</h3>
            <label>Name</label>
            <input ng-model="$ctrl.name" maxlength="50">
        </div>
        <div>
            <label>Style</label>
            <input ng-model="$ctrl.style" maxlength="30">
        </div>
        <div>
            <label>Brewery</label>
            <input ng-model="$ctrl.brewery" maxlength="50">
        </div>
        <div>
            <label>ABV</label>
            <input type="number" min="1" max="20" ng-model="$ctrl.abv">
        </div>
        <button ng-click="$ctrl.addBeer()">Add</button>
        <button ng-click="$ctrl.backToAll()">Cancel</button>       
    </div>
</section>
